<!DOCTYPE html>
<html>
<head>
  <title>Tune Hunt<%=@page_sub_title%></title>
	<meta name="description" content="Go on a music hunt - discover more hidden music treasures like <%=@page_sub_title%> within millions of songs that apart from the artist itself probably no-one else has ever listened to." />
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "/javascripts/googleanalytics" %>
  <%= javascript_include_tag "/javascripts/jquery-1.4.2.min.js" %>
  <%= javascript_include_tag "/javascripts/jquery.mplayer-0.0.1.js" %>
</head>
<body>

<%= yield %>
<div id="footer">
	<div class="socialrubbish">
		Created at <a href="http://musichackday.org/" target="_blank" style="color: white;">Midem Hack Day 2012</a>
	</div>
	<div class="poweredby">
		<div style="display: block; float: left;">powered by</div>
		<a href="http://7digital.com/?partner=1300">
			<img src="/images/7digital-grayandwhite.png" class="poweredby" alt="7digital" border="0" />
		</a>
	</div>
</div>
</body>
</html>
