<!DOCTYPE html>
<html>
<head>
  <title>Tune Hunt<%=@page_subtitle%></title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "/javascripts/googleanalytics" %>
  <%= javascript_include_tag "/javascripts/jquery-1.4.2.min.js" %>
  <%= javascript_include_tag "/javascripts/jquery.mplayer-0.0.1.js" %>
</head>
<body>

<%= yield %>
<div id="footer">
	<div class="socialrubbish">
		Created at <a href="http://cannes.musichackday.org/2012/" target="_blank" style="color: white;">Midem Hack Day</a>
	</div>
	<div class="poweredby">
		<div style="display: block; float: left;">powered by</div>
		<a href="http://7digital.com/?partner=1300">
			<img src="/images/7digital-grayandwhite.png" class="poweredby" alt="7digital" border="0" />
		</a>
	</div>
</div>
</body>
</html>
